.posts-wrapper.row
    .post
        .post-head
            .name.pull-left
                = @post.user.username
            .time.pull-right
                = time_ago_in_words(@post.created_at)
        .image.center-block
            =image_tag @post.image.url(:medium)
        %p.description.text-center
            =@post.description
        - if @post.user == current_user
            .text-center
                =link_to "Back", posts_path
                |
                = link_to "Edit", edit_post_path(@post)
                |
                = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }            
        - else 
            .text-center
                = link_to "Back", posts_path

/ #comments
/     %h2.comment_count= pluralize(@post.comments.count, "Comment")
/     - @comments.each do |comment|
/         .comment
/             %p.username= comment.user.username
/             %p.content= comment.content

/     = render "comments/form"
